.container{
    padding: 30px;
 text-align: center;
 background-color:lightskyblue
}
.col{
    color: blue;
}
.resume{
    text-align: center;
}

.colr{
    color: aliceblue;
    margin: 10px;
    font-size: medium;
    text-decoration: none;
}
